.container
{
text-align: center;
justify-content: center;
height: 180px;
}
button
{
    position: relative;
    width: 80px;
    padding: 8px;
  border-radius: 5px;
margin-left: 20px;
margin-top: 10px;
 
}
select
{
    padding: 5px;
}
.output
{
   position: relative;
    display: flex;
    flex-direction: row;
margin-left: 65px;



}
.output input
{
    padding: 5px;
    width: 100px;
    height: 15px;
margin-top: 13px;
    border: none;
    outline: 0;
    color: black;

}
