.container
{
text-align: center;
justify-content: center;
height: 150px;
}
button
{
    position: relative;
    width: 80px;
    padding: 8px;
  border-radius: 5px;
margin-left: 20px;
margin-top: 10px;
 
}
select
{
    padding: 5px;
}